body {
    background-color: rgb(241, 248, 254);
}

.container {
    background-color: rgb(83, 83, 238, 0.5);
    margin: auto;
    height: 100%;
    width: 1000px;
}

nav {
    background-color: rgb(241, 248, 254);
    padding: 15px;
    box-shadow: 4px 8px 10px rgb(83, 83, 238);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    position: relative;
    float: right;
}

ul li {
    background-color: rgb(241, 248, 254);
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
    text-align: center;
    width: 150px;
    box-shadow: 4px 8px 10px rgb(0, 0, 0);
    padding: 10px;
    margin-top: 3.5%;
}

ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;
}

ul li:hover {
    background-color: rgb(0, 0, 0);
}

ul li a:hover {
    color: rgb(241, 248, 254);
}

.jumbotron {
    background: rgb(0, 0, 0) url("../img/jumbotron.jpg") no-repeat center; 
    height: 100%;
    width: 100%;
    background-size: contain;
}

.text-back-jumbotron {
    background-color: rgb(241, 248, 254);
    height: 400px;
    width: 200px;
    
}